input {
    padding: 2px;
    width: 120px;
}
select {
    padding: 3px;
}
input.checkbox {
    width: 15px;
}
input.left {
    margin-left: 110px;
}
input.long {
    width: 220px;
}
input.normal {
    width: 160px;
}
input.not-that-short {
    width: 140px;
}
input.short {
    width: 60px;
}
hr {
    border: 1px solid gray;
}
button {
    border: 2px solid black;
    border-radius: 3px;
}
.Logo {
    background-color: cyan;
    width: 290px;
    border-radius: 10px;
    border: solid 2px black;
    box-shadow: 8px 8px 6px rgba(0, 0, 0, 0.29);
}
.Logo-Text {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}
.hr {
    margin: 0;
    border: 3px solid black;
}
label {
    width: 150px;
}